body {
    background-color: whitesmoke;
}

header{
    background-color: rgb(39, 39, 39);
}

header img {
    width: 100px;
    justify-content: left;
}

.menu {
    background-color: rgb(54, 54, 54);
}

.linkMenu {
    color: aliceblue;
}